/* Colors */

$theme-colors: (
	'bistre': #a0583c,
	'dark-sienna': #c08267,
	'liver': hsla(15, 25%, 33%, 1),
	'ivory': #ccb9b1
);

/* Fonts */

$fonts: (
	'main': (
		'Signika Negative',
		sans-serif
	)
);

/* General CSS */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


:root {
	--primary-background-color: #{map-get($theme-colors, 'dark-sienna')};
	--secondary-background-color: #{map-get($theme-colors, 'bistre')};
	--primary-foreground-color: #{map-get($theme-colors, 'ivory')};
	--secondary-foreground-color: #{map-get($theme-colors, 'liver')};
}
